{{> head }}
{{> header }}
<main class="main-content">
    <aside class="col-aside">
      <img src="img?src=/images/{{path}}/{{data.images.0.url}}&h=500&w=500&a=t" alt="" class="big-photo">
      <div class="img-list">
        {{#each data.images}}
          <a href="images/{{../path}}/{{this.url}}"
            data-w={{this.w}}
            data-h="{{this.h}}"
            data-msrc="img?src=/images/{{../path}}/{{this.url}}&w=400"
            style="background-image: url(img?src=/images/{{../path}}/{{this.url}}&w=175&h=175)"
          >
            <img src="img?src=/images/{{../path}}/{{this.url}}&w=400" alt="">
          </a>
        {{/each}}
      </div>
    </aside>
    <div class="col-content content">
      <h1>Kiro Urdin - Self Portrait</h1>
      <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. -->

      <p>My earliest knowledge begins with my greatgrandfather, Constantine. I don’t know what my great-grandmother’s name was. They came from Salonica and had fourteen children, twelve of whom died one after the other. The thirteenth was my grandfather, Vasil, and the fourteenth his sister, Tina.</p>
      <p>My father was called Michael and my mother Makedonka, as is my daughter. But to begin with myself.</p>
      <p>I am average in all things: of average height, of average weight, of average years and the colour of my hair is average. My mother and father were average too. And of course my three brothers and my sister are average.</p>
      <p>I wasn’t present at the moment of my birth. Time moved fast then. During the First World War my father was still a child, but even then he had made up his mind that I would be his youngest son. His wish was fulfilled towards the end of the Second World War. It was the month of May and three fortune-tellers told me that the flowers were still smelling of gunpowder. After that moment a good many years passed and peace reigned everywhere. Countries were transformed into flower gardens. There were no more wars, no more dead, wounded, starving… There was no injustice, evil or force. When I completed my studies everybody started to judge me. In order to improve my rating, I started with legal norms, and fell headlong into the loopholes in the law. There they convinced me that life beyond the grave can easily be buried.</p>
      <p>Because I had little patience for documents I began to paint them and then to record them on film. This same fact had undesirable consequences that started to multiply. Their number increased so rapidly that there wasn’t room for them all any more. The only way out was to surrender my space to them. The consequences demanded that I should understand their causes. So on average I became a point, so that nobody noticed me any more. Now my destiny depends upon the place where they insert me in their written texts. But if anyone asks me what my wish is, my response is this: because I am a point I don’t want to remain in any one place but to be in perpetual motion.</p>

      <!-- Read more -->
    </div>
</main>
{{> footer }}
